<section class="nav-supplier-painel-section">
	<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand"><img src="/assets/images/logo.png"></a>
      </div>
    	<div class="container hidden-md-down text-xs-center">
        <div class="center-block">
          <ul class="av nav-inline">
            <li class="nav-item"><a class="nav-link" href="/dashboard">DASHBOARD</a></li>
            <li class="nav-item"><a class="nav-link" href="/festas">FESTAS</a></li>
            <li class="nav-item"><a class="nav-link" href="orcamentos">ORÇAMENTOS</a></li>
            <li class="nav-item"><a class="nav-link" href="/site">MEU SITE</a></li>
            <li class="nav-item"><a class="nav-link" href="/promocoes">PROMOÇÕES</a></li>
            <li class="nav-item"><a class="nav-link" href="/cadastro">MEU CADASTRO</a></li>
            <li class="nav-item"><a class="nav-link" href="/fornecedores">FORNECEDORES</a></li>
          </ul>
        </div>
      </div>
      <ul class="nav nav-tabs supplier-dropdown hidden-md-down">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          	<div class="user_image_menu">
              Lucas Varani <img class="rounded-circle" src="/assets/images/img-supplier.jpg" width="50px">
            </div>
          </a>
          <div class="dropdown-menu">
            <p>
              Meu Painel
            </p >
            <p>
              Minha Conta
            </p>
            <p>
              Meu Plano
            </p>
            <p>
              Sair
            </p>
          </div>
        </li>
      </ul>
    </div>
  </nav>	
</section>