<!DOCTYPE html>
<html>
	<head>
		<title>Festa Bem Feita</title>

		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">

		<link href="../../assets/css/style.scss" rel="stylesheet" type="text/css">
		<link href="../../assets/css/font-awesome.css" rel="stylesheet" type="text/css">
		<link href="../../assets/css/bootstrap.css" rel="stylesheet" type="text/css">


		<script src="../../assets/js/jquery.min.js"></script>
		<script src="../../assets/js/tether.min.js"></script>
		<script src="../../assets/js/bootstrap.js"></script>	

		<script> 
	    $(function(){
	      $("#includedContent").load("../shared/nav_supplier_painel.html"); 
	    });
	  </script> 

	</head>

	<body>
		<div id="includedContent" class="container-fluid"></div>
		
	</body>	

</html>