/*------BASE------*/

@font-face{
  font-family: "gotham";
  src: url(fonts/GOTHAMRND-MEDIUM.OTF);
}

body{
  font-family: "gotham" !important;
}

.center-block{
	float: none;
}

/*------END BASE------*/

/*------MENU------*/

li a.nav-link,
a.nav-link.mobileLogin{
  padding: 30px 0px;
  margin: 0px 10px;
}

li a.nav-link,
a.nav-link.mobileLogin,
li.nav-item {
  color: #bcbec0;
  font-weight: 600;
  font-size: 12px !important;
}

div#includedContent {
padding: 0px;
background: #1c2630;
}

ul.av.nav-inline{
	padding: 0px;
	margin-bottom: 0px;
}

nav.navbar.navbar-default{
	padding: 0px;
}

.supplier-dropdown {
  margin-top: 7px;
}

.rounded-circle{
	margin-left: 6px;
}

.nav-link.dropdown-toggle{
	width: 100%;
}

.nav-tabs {
	border: none !important; 
}

.nav-tabs .nav-link{
	border: none !important;
}

.nav-tabs .nav-item.open .nav-link,
.nav-tabs .nav-item.open .nav-link:focus,
.nav-tabs .nav-item.open .nav-link:hover {
  color: inherit !important; 
  background-color: #252f38 !important; 
  border-color: transparent !important; 
}

.dropdown-toggle::after {
	float: right;
	margin-top: -27px;	
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: none !important;
}

.nav-sup:focus,
.nav-sup:hover {
	background: #252f38;
}

/*------END MENU------*/